@tailwind base;
@tailwind components;
@tailwind utilities;

._gradient, body {
    background: linear-gradient(
        120deg,
        #02021a 40%,
        #00275a 100%
    );
    
    @apply bg-fixed;
}

.nav-animate {
    animation: nav-animate 300ms;

}

@keyframes nav-animate {
    from {
        opacity: 0;
    } to {
        opacity: 0.25;
    }
}

.active {
    @apply text-white;
}

.w-16.active + .group:hover .w-16 {
    width: 24px;
  }