@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    transition: all;
}

body {
    font-family: "Poppins", sans-serif;
}

._gradient,
body {
    background: linear-gradient(120deg, #02021a 40%, #00275a 100%);
    @apply bg-fixed;
}

._active {
    @apply text-white;
}

._active:nth-child(1) div:first-child {
    @apply w-24 bg-white;
}
