@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all;
}

body {
    font-family: "Poppins", sans-serif;
}

._gradient,
body {
    background: linear-gradient(120deg, #02021a 40%, #00275a 100%);
    @apply min-h-screen bg-fixed;
}

._active {
    @apply text-white;
}

._active:nth-child(1) div:first-child {
    @apply w-28 bg-white;
}

::-webkit-scrollbar {
    @apply w-3 rounded-full;
}

::-webkit-scrollbar-track {
    @apply bg-slate-500;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-800;
}
